body {
    padding: 0px;
    margin: 0px;
}

.noOfVotes {
    fill: #D1D2D1;
}

.canvas {
    height: 400px;
    position: relative;
}

.canvas0 {
    height: 600px;
    /*margin-bottom: 20px;*/
}

.map-states:hover {
    fill: none;
}

.map-states:hover {
    fill: #DD7744;
}
.header-cont{
    width:100%;
    position:fixed;
    top:0px;
    background-color:
    rgba(255,255,255,.7);
    z-index: 2;
}
.header {  width:100%;  }

.content{ margin: 30px auto;}

rect.unhighlight {
    opacity: 0.7;
}

rect.highlight {
    opacity: 1;
}

.candidatesXAxis .tick text {
    font-size: 0.7em;
}

.candidatesXAxis path {
    fill: none;
}

.steps path {
  fill: none;
  stroke: black;
  stroke-width: 4px;
  opacity: .7;
}
/*tooltip*/
.tooltip {
	position: absolute;
  font-size: 15 px;
	text-align: left;
	fill:rgb(120,120,120);
	font-weight: bold;
	/*width: 200px;*/
	/*height: 50px;*/
	padding: 5px;
	font: 15px sans-serif;
	background:rgb(255,255,255);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;}

.tip-candidate{
  font-weight:bold;
}

.tip-vote{
font-weight: lighter;
}

.linesG line {
  stroke: #AAA;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
}

h1,h2,h3,.CandidName{
  font-style: normal;
  font-family: 'Playfair Display script=all rev=1', 'Adobe Blank';
}

h1{
  font-size: 6.5em;
  font-weight: 900;
}
h2{
  font-size: 2.2em;
  font-weight: 400;
}
h3{
  font-size: 2em;
  font-weight: 900;
}
.intro,.text,.CandidFollower{
  font-family: 'Raleway script=all rev=1',sans-serif;
}
.intro{
  font-weight: 300;
  font-style: italic;
  margin-top: 40px;
  font-size: 11pt;
}
.subTitle{
  margin-top: -10pt;
}
.text{
  font-weight: 300;
  font-style: normal;
  font-size: 12pt;
}
.headingH3{
  margin-top: 20pt;
}
.CandidName{
  font-size: 12pt;
}
.CandidFollower{
  font-weight:300;
  font-size: 12pt;
  color:#000;
}
